<div class="container mx-auto max-w-[1280px] mt-10 grid grid-cols-6">
  <!-- Sticky Icons -->
  <div class="col-span-1 text-center font-size-2xl">
    <div class="fixed mt-28 ml-20">
      <i
        class="pi pi-caret-down"
        (click)="onDownClick()"
        [style.color]="number <= initialValue - 1 ? 'gray' : 'black'"
        [style.pointer-events]="number <= initialValue - 1 ? 'none' : 'auto'"
        style="font-size: 40px"
      >
      </i>

      <!-- Hiển thị số lượng -->
      <div class="text-4xl" style="margin: 10px 0">{{ number }}</div>

      <i
        class="pi pi-caret-up"
        (click)="onUpClick()"
        [style.color]="number >= initialValue + 1 ? 'gray' : 'black'"
        [style.pointer-events]="number >= initialValue + 1 ? 'none' : 'auto'"
        style="font-size: 40px"
      >
      </i>
    </div>
  </div>

  <!-- Card hiển thị chi tiết bài viết -->
  <div class="col-span-5 overflow-auto">
    <p-card class="mb-4">
      <ng-template pTemplate="header">
        <span class="text-2xl font-bold p-4">{{ dataPost?.description }}</span>
      </ng-template>
      <ng-template pTemplate="subtitle">
        <div class="text-sm text-gray-500">
          By <span class="font-semibold">{{ dataPost?.authorName }}</span> on
          {{ dataPost?.dateCreated | date : "medium" }}
        </div>
        <div class="text-sm text-gray-500">
          <span>Views: {{ dataPost?.viewCount }}</span>
        </div>
      </ng-template>
      <div
        class="max-w-[1000px]"
        style="
          overflow-wrap: break-word;
          word-break: break-word;
          white-space: normal;
        "
      >
        <markdown class="prose" [data]="dataPost?.content"></markdown>
      </div>

      <ng-template pTemplate="footer"></ng-template>
    </p-card>

    <button (click)="createComment()" class="p-4 bg-red-600">
      Add comment
    </button>
  </div>
</div>
