<header class="bg-white text-black shadow-md sticky top-0 z-50 w-full">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center space-x-3">
      <a href="/" class="text-xl text-blue-400 font-bold hover:text-blue-500">
        <span class="ml-2">Thắp sáng kiến thức</span>
      </a>
    </div>
    <!-- Navigation Menu -->
    <p-menubar [model]="items" appendTo="body" class="flex justify-center"></p-menubar>
    <input
      type="text"
      placeholder="Search..."
      class="px-4 py-2 rounded-full text-black bg-gray-100"
    />
    <!-- Search and Login -->
    <div class="card flex justify-center gap-10">
      <div>
        <p-menu #menu [model]="write" [popup]="true" appendTo="body"></p-menu>
        <i
          class="pi pi-pencil"
          (click)="menu.toggle($event)"
          style="color: slateblue"
        ></i>
      </div>
      <div *ngIf="authService.nameUser()">
        <p-menu #menu [model]="item" [popup]="true" appendTo="body"></p-menu>
        <h1 class="cursor-pointer" (click)="menu.toggle($event)">{{ authService.nameUser() }}</h1>
      </div>
    </div>
    <div class="flex items-center space-x-4" *ngIf="!authService.nameUser()">
      <button
        class="px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-700"
        routerLink="/Auth/login"
      >
        Login
      </button>
      <button
        class="px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-700"
        routerLink="/Auth/register"
      >
        Register
      </button>
    </div>
  </div>
</header>
